
<div class="container py-4">
  <h1>Search Flights</h1>

  <div class="row justify-content-center pt-4">
    <div class="col">
      <div class="card shadow-sm p-3 bg-light">
        <%= form_with url: root_path, method: :get, local: true, class: "row g-3 align-items-lg-end align-items-sm-center justify-content-between flex-lg-row flex-sm-column" do |form| %>
          <!-- Departure Airport -->
          <div class="col-12 col-md-12 col-lg-2">
            <%= form.label :departure_airport, "From", class: "form-label" %>
            <%= form.collection_select :departure_airport_id, @airports, :id, :code, {}, class: "form-select" %>
          </div>

          <!-- Arrival Airport -->
          <div class="col-12 col-md-12 col-lg-2">
            <%= form.label :arrival_airport, "To", class: "form-label" %>
            <%= form.collection_select :arrival_airport_id, @airports, :id, :code, {}, class: "form-select" %>
          </div>

          <!-- Date Selection -->
          <div id="htmlTarget" class="col-12 col-md-12 col-lg-3">
            <%= form.label :flight_date, "Departure", class: "form-label" %>
            <%= form.select :date, options_for_select(@available_dates, @selected_date), { include_blank: true }, class: "form-select" %>
          </div>

          <!-- Passengers -->
          <div class="col-12 col-md-12 col-lg-3">
            <%= form.label :passengers, "Cabin class and passengers", class: "form-label" %>
            <%= form.select :passengers, (1..4).to_a, { include_blank: true }, class: "form-select" %>
          </div>

          <!-- Submit Button -->
          <div class="col-12 col-sm-6 col-md-auto">
            <%= form.submit "Search", class: "btn btn-danger px-4 py-2 w-100" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<i class="bi bi-alarm"></i> Alarm Icon
<i class="bi bi-heart-fill"></i> Heart Icon
<i class="bi bi-0-circle-fill"></i>